<!DOCTYPE html>
<html>
{{> _head}}
<body class="site">
  <div class="site-wrap">
    {{> _header}}
    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
<div class="home">
    <div class="posts">
      {{#posts}}
        <div class="post py3">
          <p class="post-meta">{{date}}</p>
          <a href="{{url}}" class="post-link"><h3 class="h1 post-title">{{title}}</h3></a>
          <p class="post-summary">
            {{summary}}
          </p>
        </div>
      {{/posts}}
    </div>
    <div class="pagination clearfix mb1 mt4">
  <div class="left">
    {{#prevPage}}
      <a class="pagination-item" href="{{prevPage}}">Newer</a>
    {{/prevPage}}
    {{^prevPage}}
      <span class="pagination-item disabled">Newer</span>
    {{/prevPage}}
  </div>
  <div class="right">
    {{#nextPage}}
      <a class="pagination-item" href="{{nextPage}}">Older</a>
    {{/nextPage}}
    {{^nextPage}}
      <span class="pagination-item disabled">Older</span>
    {{/nextPage}}
  </div>
  <div class="pagination-meta">Page {{currentPage}} of {{totalPages}}</div>
</div>
</div>
      </div>
    </div>
  </div>
  {{> _footer}}
</body>
</html>
